div{
background-color: #0f1111;
height: 60px;
}
#website{
    font-size: 25px;
    color: #f08804;
}
button{
    background-color: #f08804;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}