*{
    margin: 0;
    padding: 0;
}
a{
    color: gold;
}
#navbar{
    display: flex;
    flex-direction: row;
    /*by  default wrap : off*/
    justify-content: space-between;
    background-color: black;
}
#inner{
    height: 50px;
    width: 50px;
    background-color: red;
}
#outer{
    background-color: blue;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}